/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7e4cd5a;
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
     font-style: normal;
  }
  
  header {
    background-color: #606c38;
    color: #fff;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    height:80px;
  }
  nav{
    margin-top: 38px;
  }
  .logo-title{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
  margin-left: 50px;
  color: rgb(212, 211, 211);
  transition: 0.4s;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;

  }
  .logo-title span{
   color:#f5ca88;
   font-weight: 700;
   
  }
  .map-section{
    width: 100%;
    border: solid black;
    margin: auto auto;

  }
  
  header nav a{
    font-size: 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.846);
    display: inline-block;
    margin: 10px;
    margin-right: 24px;
    padding: 0px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    transition: 0.3s;
    animation: waveMotion 5s ease-in-out forwards infinite;
    
}
header nav a:hover{
  font-size:28px ;
  text-shadow: 0px 0px 8px white;

}
.user-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 0px;
  margin-top: 20px;
  box-shadow: 0 0 10px black;
  animation: waveMotion 5s ease-in-out forwards infinite;
  
}
.usr-info img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


  
  .container {
    display: flex;
    flex-direction: column; /* Arrange items horizontally */
    margin: 20px 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .vehicle-info {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .vehicle-info h2 {
    margin-top: 0;
    color: #333;
    font-size: 18px;
  }
  
  .vehicle-info div {
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
  }
  
  /* Animation for vehicle information */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .vehicle-info {
    animation: fade-in 0.5s ease forwards;
  }
  
  /* Map styles */
  #map {
    width: 70%;
    height: 400px; /* Adjust height as needed */
    border-radius: 10px;
  }
  
  /* Button styles */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  